[Unit]
Description=Inverse-relation

[Service]
Restart=on-failure
WorkingDirectory=/opt/inverse-relation/
ExecStart=/opt/inverse-relation/run-production.sh

[Install]
WantedBy=multi-user.target
